.header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-bottom: 2px solid var(--grey-color);
  background-color: var(--background-color);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.46);
}

.link {
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
  color: black;
}

.link:hover {
  color: rgb(97, 94, 94);
}

.activeLink {
  border-bottom: 2px solid black;
}
